* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../assets/img/Nuestra\ cocina.jpg);
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: Arial, sans-serif;
}

header {
  width: 100%;
  margin: 0;
  font-size: 1rem;
  background-color: #DCDDB6;
  padding: 0 20px;
  margin: 0;
}
header .nav-wraper {
  width: 100%;
  display: flex;
  flex-direction: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}
header:hover {
  color: black;
}
header .logo {
  font-weight: 700;
  text-decoration: none;
  color: black;
  font-size: 40px;
}
header .menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
header .menu ul li a {
  text-decoration: none;
  padding: 10px;
  font-size: 20px;
  color: black;
  margin-right: 10px;
}

nav #toggle, nav label {
  display: none;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  width: 100%;
  color: #DCDDB6;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  nav .menu {
    width: 100%;
    height: 0;
    overflow: hidden;
  }
  nav ul {
    display: inline-flex;
    justify-content: center;
  }
  nav label {
    display: inline-flex;
    color: black;
    cursor: pointer;
  }
  nav #toggle:checked ~ .menu {
    height: 100%;
  }
}
@media only screen and (max-width: 468px) {
  nav .menu {
    display: block;
    flex-direction: column;
    gap: 10px;
    flex-wrap: wrap;
  }
  .menu ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 0;
    align-items: center;
  }
  .menu ul li {
    list-style: none;
  }
  nav #toggle:checked ~ .menu {
    height: 100%;
  }
}
/* Main section styles */
.sectioncocina {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #DCDDB6;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(135, 133, 100, 0.1);
}
.sectioncocina h2 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}
.sectioncocina p {
  font-size: 1.2rem;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 20px;
}
.sectioncocina h3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.form-comprar {
  display: grid;
  place-items: center;
  height: 100vh;
}

form {
  max-width: 400px;
  padding: 20px;
  background-color: #DCDDB6;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(125, 129, 97, 0.1);
  display: grid;
  gap: 10px;
}
form fieldset {
  border: none;
  padding: 0;
  margin: 0;
}
form legend {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}
form label {
  display: grid;
  gap: 5px;
}
form span {
  font-weight: bold;
}
form input[type=text],
form input[type=number],
form input[type=date],
form input[type=password] {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
form input[type=submit],
form input[type=reset] {
  width: 100%;
  padding: 10px;
  background-color: #45a050;
  color: #DCDDB6;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
form input[type=submit]:hover,
form input[type=reset]:hover {
  background-color: #598b5f;
}

.main-contacts {
  display: grid;
  place-items: center;
  height: 100vh;
}
.main-contacts .contact-card-contacts {
  display: grid;
  max-width: 400px;
  padding: 20px;
  background-color: #DCDDB6;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(114, 117, 86, 0.1);
  gap: 10px;
}
.main-contacts .contact-card-contacts h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}
.main-contacts .contact-card-contacts li {
  margin-bottom: 0px;
}
.main-contacts .contact-card-contacts h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.container {
  display: flex;
  flex-direction: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  margin: 1rem 2rem;
}
.container .item {
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 10px;
}
.container .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s ease-in-out;
}
.container .item img:hover {
  transform: scale(1.1);
}

.card {
  display: flex;
  flex-direction: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  background-color: #DCDDB6;
  margin: 1rem 1rem;
}

.card-img-top {
  padding: 0.7rem;
}

.card-body {
  text-align: center;
}
.card-body .card-title {
  font-size: 25px;
}

.checklist {
  text-align: center;
  font-size: 15px;
}

/*# sourceMappingURL=style.css.map */
