  .form-comprar {
    display: grid;
    place-items: center;
    height: 100vh;
  }
  
  form {
    max-width: 400px;
    padding: 20px;
    background-color: $color-base;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(125, 129, 97, 0.1);
    display: grid;
    gap: 10px;
    
    fieldset {
      border: none;
      padding: 0;
      margin: 0;
    }
    
    legend {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 10px;
    }
    label {
      display: grid;
      gap: 5px;
    }
    
    span {
      font-weight: bold;
    }
    input[type="text"],
  input[type="number"],
  input[type="date"],
  input[type="password"] {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  input[type="submit"],
  input[type="reset"] {
    width: 100%;
    padding: 10px;
    background-color: #45a050;
    color: $color-base;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  input[type="submit"]:hover,
  input[type="reset"]:hover {
    background-color: #598b5f;
  }
  }