.main-contacts {
    display: grid;
    place-items: center;
    height: 100vh;
    .contact-card-contacts {
      display: grid;
      max-width: 400px;
      padding: 20px;
      background-color: $color-base;
      border-radius: 5px;
      box-shadow: 0 2px 4px rgba(114, 117, 86, 0.1);
      gap: 10px;
    h2 {
        font-size: 24px;
        font-weight: bold;
        margin: 0;
    }
    li {
      margin-bottom: 0px;
    }
    h3 {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 10px;
    }
  }
  }
