
.container {
  @include flex(flex, center, center, 20px,wrap);
    margin: 20px;
    .item {
      width: 200px;
      height: 200px;
      overflow: hidden;
      border-radius: 10px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all 0.3s ease-in-out;
        &:hover{
          transform: scale(1.1);
        }
      }
    }
  }