.card-img-top{
    padding: 0.7rem;    
  }
.card-body{
    text-align: center;
    .card-title{
      font-size: 25px;
    }  
  }

  /* Main section styles */
  section {
    padding-top: 40px;
    padding-bottom: 40px;
  .nuestraCocina {
    @include flex (column,center,center,15px,wrap);
    background-color: $color-base;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(135, 133, 100, 0.1);
    h2 {
      font-size: 28px;
      font-weight: bold;
      margin-bottom: 20px;
    }
    p {
      font-size: 1.2rem;
      line-height: 1.5;
      text-align: center;
      margin-bottom: 20px;
    }
    h3 {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 10px;
    }
    }
  }
