
.card{
  @include flex(flex, center, center, 20px,wrap);
  background-color: $color-base;
  margin: 1rem 1rem;
}
.card-img-top{
    padding: 0.7rem;    
  }
.card-body{
    text-align: center;
    .card-title{
      font-size: 25px;
    }
  }
.checklist{
    text-align: center;
    font-size: 15px;
  }