header{
    width: 100%;
    margin: 0;
    font-size: 1rem;
    background-color: $color-base;
    .nav-wraper{
      width: 100%;
      @include flex (flex, space-between,center, 10px,wrap);
      }
      padding: 0 20px;
      margin: 0;
       &:hover {
        color: black;
      }
      .logo{
        font-weight: 700;
        text-decoration: none;
        color: $font-color;
        font-size: 40px;
  }
  .menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    li a{
        text-decoration: none;
        padding: 10px;
        font-size: 20px;
        color: $font-color; 
        margin-right: 10px;   
      }
  }
}
  nav #toggle, nav label{
    display: none;
  }